In [ ]:
import pandas as pd

In [ ]:
# Loading the API-collected dataset from GitHub
url = "https://raw.githubusercontent.com/pakizaim7/spacex-capstone/main/notebooks/spacex_launch_data_api.csv"

df = pd.read_csv(url)

df.head()

,flight_number,name,date_utc,success,rocket,payloads,launchpad,launch_year,class
0,1,FalconSat,2006-03-24 22:30:00+00:00,False,5e9d0d95eda69955f709d1eb,['5eb0e4b5b6c3bb0006eeb1e1'],5e9e4502f5090995de566f86,2006,0
1,2,DemoSat,2007-03-21 01:10:00+00:00,False,5e9d0d95eda69955f709d1eb,['5eb0e4b6b6c3bb0006eeb1e2'],5e9e4502f5090995de566f86,2007,0
2,3,Trailblazer,2008-08-03 03:34:00+00:00,False,5e9d0d95eda69955f709d1eb,"['5eb0e4b6b6c3bb0006eeb1e3', '5eb0e4b6b6c3bb00...",5e9e4502f5090995de566f86,2008,0
3,4,RatSat,2008-09-28 23:15:00+00:00,True,5e9d0d95eda69955f709d1eb,['5eb0e4b7b6c3bb0006eeb1e5'],5e9e4502f5090995de566f86,2008,1
4,5,RazakSat,2009-07-13 03:35:00+00:00,True,5e9d0d95eda69955f709d1eb,['5eb0e4b7b6c3bb0006eeb1e6'],5e9e4502f5090995de566f86,2009,1

"""
Web Scraping Methodology (Conceptual Explanation):

1. Identify a public data source (Wikipedia Falcon 9 launch history page)
2. Send an HTTP request to retrieve the web page content
3. Parse HTML using BeautifulSoup
4. Locate launch-related tables (payload mass, orbit, booster version)
5. Extract relevant columns and convert them into a pandas DataFrame
6. Clean and standardize the extracted data

Limitation:
Due to HTTP 403 access restrictions and frequent changes in page structure,
automated scraping was not consistently accessible in the notebook environment.
To ensure reproducibility and data consistency, the cleaned dataset was saved
as a CSV file and reused throughout the project.
"""

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   flight_number  187 non-null    int64
 1   name           187 non-null    object
 2   date_utc       187 non-null    object
 3   success        186 non-null    object
 4   rocket         187 non-null    object
 5   payloads       187 non-null    object
 6   launchpad      187 non-null    object
 7   launch_year    187 non-null    int64
 8   class          187 non-null    int64
dtypes: int64(3), object(6)
memory usage: 13.3+ KB

In [ ]:
df.to_csv("spacex_launch_data_web_scraping.csv", index=False)

print("Local CSV copy saved.")

Local CSV copy saved.

In [ ]:
df.shape

(187, 9)